@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://i.pinimg.com/originals/84/89/a9/8489a946bb84f04e828623d31315fddb.jpg" alt="Logo" style="max-width: 200px;" />
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (Context.User.Identity.IsAuthenticated)
{
    <br />
    <h3>Bienvenido @User.Identity.Name </h3>
    <h3>@ViewData["AccessToken"]</h3>
    <br />

    <a asp-controller="Login" asp-action="Logout">Logout</a>
}