@{
    Layout = "";
}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de Login</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background: url('https://images.unsplash.com/photo-1492684223066-81342ee5ff30?fm=jpg&w=3000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
            background-size: cover;
        }

        .login-container {
            text-align: center;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 90px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }

            .logo-container img {
                margin: 0 30px;
                width: 100px;
            }

        .login-container h1 {
            margin-bottom: 20px;
            font-size: 24px;
            color: #343a40;
        }

        .google-btn {
            background-color: royalblue;
            color: white;
            padding: 10px 30px;
            border: none;
            border-radius: 10px;
            font-size: 16px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background 0.3s;
        }

            .google-btn img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }

            .google-btn:hover {
                background: #357ae8;
            }
    </style>
</head>
<body>
    <div class="login-container">
        <div class="logo-container">
            <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png" alt="Google Logo">
            <img src="https://i.pinimg.com/originals/84/89/a9/8489a946bb84f04e828623d31315fddb.jpg" alt="Logo">
        </div>
        <a class="google-btn" asp-controller="Login" asp-action="Login">
            Iniciar sesión con Google
        </a>
    </div>
</body>
</html>